<section class="grid grid-6col">
 <div class="caracs flexcol grid-span-3">
 <label for="Stockage" class="titre-label flexlarge align-center cadre">Stockage</label>
 <br>
 <div>
    {{#each system.stockages as |stockage key|}}
        <div class="carac flexrow flex-group-center">
            <input type="checkbox" name="{{stockage.checkid}}" id="{{stockage.checkid}}"/>
            <label for="system.stockages.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.stockages key)}}">{{localize (lookup @root.config.stockages key)}}</label>
            <input type="text" name="system.stockages.{{key}}.value" value="{{stockage.value}}" data-dtype="Number"/>
            <span> / </span>
             <input type="text" name="system.stockages.{{key}}.max" value="{{stockage.max}}" data-dtype="Number"/>
        </div>
    {{/each}} 
 </div>
</section>