<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
        
      <div class="resources grid grid-6col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.age.value" class="resource-label">Âge</label>
          <div class="resource-content flexrow flex-center flex-between">
           <input type="text" name="system.age.value" value="{{system.age.value}}" data-age="{{system.age.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.autonomie.value" class="resource-label">Autonomie</label>
          <div class="resource-content flexrow flex-center flex-between">
           <input type="text" name="system.autonomie.value" value="{{system.autonomie.value}}" data-autonomie="{{system.autonomie.value}}  data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.seuildejoie.value" class="resource-label">Seuil de joie</label>
          <div class="resource-content flexrow flex-center flex-between">
           <input type="text" name="system.seuildejoie.value" value="{{system.seuildejoie.value}}" data-seuildejoie="{{system.seuildejoie.value}}  data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.repos.value" class="resource-label">Repos</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.repos.value" value="{{system.repos.value}}" data-dtype="Number"/>
            <span> / </span>
           <input type="text" name="system.repos.max" value="{{system.repos.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.desespoir.value" class="resource-label">Désespoir</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.desespoir.value" value="{{system.desespoir.value}}" data-desespoir="{{system.desespoir.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stockagetotal.value" class="resource-label">Stockage</label>
          <div class="resource-content flexrow flex-center flex-between">
           <input type="text" name="system.stocktotal.value" value="{{system.stocktotal.value}}" data-dtype="Number"/>
           <span> / </span>
           <input type="text" name="system.stocktotal.max" value="{{system.stocktotal.max}}" data-dtype="Number"/>
          </div>
        </div>


      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Principal</a>
    <a class="item" data-tab="notes">Notes</a>
  
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-5col"> 
        <div class="resource flexcol flex-group-center grid-span-2">
          <button class="item flex-group-center autonomie" type="button">Autonomie !</button>
        </div>
      </section>   
      <section class="grid grid-5col">
        <div class="caracs flexcol grid-span-5">
         <label for="Objets" class="titre-label flexlarge align-center cadre">Objets</label>
         <br>
        </div>
        <div class="carac flexrow flex-group-center grid-span-1">
          <input type="checkbox" class="checkdoudou" name="system.doudou.check" {{checked system.doudou.check}}/>
          <label for="system.doudou.check" class="resource-label flexlarge align-center">Doudou</label>
        </div>
        <div class="carac flexrow flex-group-center grid-span-3">
          <input type="text" name="system.doudou.description" value="{{system.doudou.description}}" data-dtype="String"/>
        </div>
        
        <div class="caracs flexcol grid-span-2">
          <div>
            {{#each system.objets as |objet key|}}
                <div class="carac flexrow flex-group-center ">
                  <input type="checkbox" class="check{{key}}" name="system.objets.{{key}}.check" {{checked objet.check}}/>
                  <input type="text" name="system.objets.{{key}}.nom" value="{{objet.nom}}" data-dtype="String"/>
                 </div>
            {{/each}} 
          </div>
        </div>
         <div class="caracs flexcol grid-span-3">
          <div>
             {{#each system.objets as |objet key|}}
                <div class="carac flexrow flex-group-center ">
                  <label class="resource-label flexlarge align-center">Jouet</label>
                  <input type="checkbox" class="checkjouet{{key}}" name="system.objets.{{key}}.jouet" {{checked objet.jouet}}/>
                  <label class="resource-label flexlarge align-center">Quant.</label>
                  <input type="text" name="system.objets.{{key}}.quantite" value="{{objet.quantite}}" data-dtype="Number"/>
                  <label class="resource-label flexlarge align-center">Bonus</label>
                  <input type="text" name="system.objets.{{key}}.bonus" value="{{objet.bonus}}" data-bonus="{{objet.bonus}}" data-dtype="Number"/>
                  <label class="resource-label flexlarge align-center">Enc.</label>
                  <input type="text" name="system.objets.{{key}}.encombrement" value="{{objet.encombrement}}" data-dtype="Number"/>
                 </div>
              {{/each}} 
          </div>
        </div>
      </section>
      <section class="grid grid-5col">
        <div class="caracs flexcol grid-span-5">
         <label for="Etats" class="titre-label flexlarge align-center cadre">États</label>
         <br>
        </div>
        <div class="caracs flexcol grid-span-3">
          <div>
             {{#each system.etats as |etat key|}}
                <div class="carac flexrow flex-group-center ">
                  <input type="checkbox" class="check{{key}}" name="system.etats.{{key}}.check" {{checked etat.check}}/>
                  <input type="text" name="system.etats.{{key}}.nom" value="{{etat.nom}}" data-dtype="String"/>
                 </div>
              {{/each}} 
          </div>
        </div>
         <div class="caracs flexcol grid-span-2">
           <div>
             {{#each system.etats as |etat key|}}
                <div class="carac flexrow flex-group-center ">
                  <label class="resource-label flexlarge align-center">Malus</label>
                  <input type="text" name="system.etats.{{key}}.malus" value="{{etat.malus}}" data-malus="{{etat.malus}}" data-dtype="Number"/>
                  <label class="resource-label flexlarge align-center">Conv.</label>
                  <input type="text" name="system.etats.{{key}}.convalescence" value="{{etat.convalescence}}" data-dtype="Number"/>
                 </div>
              {{/each}} 
            </div>
          </div>
        </section>


        <section class="grid grid-10col">
        {{!-- Vêtements --}}
          <div class="caracs flexcol grid-span-2">
            <label class="titre-label flexlarge align-center cadre">Vêtements</label>
            <br>
            <div>
              {{#each system.vetements as |vetement key|}}
              <div class="carac flexrow flex-group-center">
              <input type="checkbox" class="check{{key}}" name="system.vetements.{{key}}.check" {{checked vetement.check}}/>
              <label for="system.vetements.{{key}}.check" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.vetements key)}}">{{localize (lookup @root.config.vetements key)}}</label>
              </div>
              {{/each}}
            </div>
          </div>
        {{!-- liens --}}
         <div class="caracs flexcol grid-span-8">
            <label class="titre-label flexlarge align-center cadre">Liens</label>
             <br>
             <div class="caracs flexrow grid-span-6">
             <div class="carac flexcol grid-span-1">
                <label for="nomadulte1" class="resource-label flexlarge align-center">Adulte 1</label>
                <label for="nomadulte2" class="resource-label flexlarge align-center">Adulte 2</label>
                <label for="nomadulte3" class="resource-label flexlarge align-center">Adulte 3</label>
              </div>
              <div class="carac flexcol grid-span-3">
                {{#each system.liens as |lien key|}}
                <input type="text" name="system.liens.{{key}}.nomadulte" value="{{lien.nomadulte}}" data-dtype="String""/>
                {{/each}}
              </div>
              <div class="carac flexcol">
                <label for="lienadulte1" class="resource-label flexlarge align-center">lien</label>
                <label for="lienadulte2" class="resource-label flexlarge align-center">lien</label>
                <label for="lienadulte3" class="resource-label flexlarge align-center">lien</label>
              </div>
              <div class="carac flexcol grid-span-3">
                {{#each system.liens as |lien key|}}
                <input type="text" name="system.liens.{{key}}.type" value="{{lien.type}}" data-dtype="String"/>
                {{/each}}
              </div>
            </div>
          </div>
        </section>
    </div>

{

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>
</form>
